.inputform {
  background-color: black;
  background-image: url("./images/back.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  height: 65vh;
  font-family: "Ubuntu", sans-serif;
}

.inputform__header {
  padding-bottom: 130px;
  color: white;
}

.inputform__userInput {
  display: flex;
  width: 50vw;
  margin-bottom: 50px;
}

.inputform__longurl {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  margin-right: 10px;
}

.inputform__longurl > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}

.inputform__longurl > input {
  border: none;
  outline-width: 0;
  width: 100%;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
  outline: none;
}

.inputform__shorturl {
  display: flex;
  align-items: center;
  background-color: white;
  width: 50vw;
  height: 45px;
  border-radius: 10px;
}

.inputform__shorturl > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}

.inputform__shorturl > input {
  border: none;
  outline-width: 0;
  width: 70%;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
}

.inputform__userInput > button {
  min-width: 115px;
}

.MuiCircularProgress-root {
  color: white !important;
}

@media (max-width: 700px) {
  .inputform__userInput {
    flex-direction: column;
  }

  .inputform__longurl {
    margin-bottom: 20px;
  }
}
